{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>pseudo selector</title>
    <link rel="stylesheet" href="{% static 'css/c18.css' %}">
</head>
<body>
    <h1>GOOD MORNING</h1>
    <h2>
        <span>H</span>
        <span>E</span>
        <span>L</span>
        <span>L</span>
        <span>O</span>
    </h2>
    <P>
    P Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, tempore dolor sit reiciendis nulla harum explicabo eos quidem omnis cupiditate cumque nisi. Qui consequatur recusandae iure quidem. Iure, libero temporibus!
</P>
</body>
</html>