{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sticky</title>
    <link rel="stylesheet" href="{% static 'css/c14.css' %}">
</head>
<body>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, numquam libero. Consectetur inventore praesentium, obcaecati beatae nesciunt nam odit expedita et quasi nulla ad iusto esse est vel aspernatur excepturi?</p>  
<div>
    <a href="">html</a>
    <a href="">css</a>
    <a href="">javascript</a>
    <a href="">sql</a>
    <a href="">python</a>
</div>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus libero inventore ipsam obcaecati, sequi dolore quaerat quam blanditiis corrupti numquam nemo nihil autem fuga tempora non minima accusamus error eaque?</p>
</body>
</html>