{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>inline block</title>
    <link rel="stylesheet" href="{% static 'css/c19.css' %}">
</head>
<body>
    <div id="child1">
<img src="c:\Users\annap\Downloads\image_1.jpg" alt="">
<h1>IMAGE1<h1>
    </div>
    <div id="child2">
        <img src="c:\Users\annap\Downloads\image_2.jpg" alt="">
        <h1>IMAGE2</h1>
    </div>
    <div id="child3">
<img src="c:\Users\annap\Downloads\image_3.jpg" alt="">
<h1>IMAGE3</h1>
    </div>
</body>
</html>