{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  
    <title>aside_tag</title>
   <link rel="stylesheet" href="{% static 'css/c6.css' %}">
</head>
<body>
    <aside>
        <img src="https://png.pngtree.com/png-vector/20191027/ourmid/pngtree-calling-telephone-line-icon-vector-png-image_1885981.jpg" alt="">
        <a href="">face book</a>
        <a href="">twitter</a>
        <a href="">wahtsapp</a>
        <a href="">instagram</a>
        <a href="">telegram</a>
    </aside>
</body>
</html>