{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c10.css' %}">
</head>
<body>
    <div id ='main'>
        <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quos dolorum dicta cupiditate! Maiores laborum praesentium, voluptates illum aspernatur tempore porro mollitia! Dolorum dicta debitis quidem laborum dignissimos qui inventore.
    Soluta dolores minima labore, non enim id dignissimos? Necessitatibus, quaerat magnam? Itaque maxime voluptatem repudiandae numquam veritatis aliquam dolores, voluptas, nesciunt earum architecto inventore ex libero. Rem beatae dolorum accusantium?
    Magni tempore officiis, placeat ab neque obcaecati molestias quia omnis earum voluptatibus iusto et fuga rerum amet vero eveniet dicta labore. Quaerat animi deserunt magni voluptatibus rem, at aperiam porro!
    Beatae deleniti corrupti ex nobis et nulla, inventore cum quam? Dolorem deleniti et sequi, eum ipsam incidunt corrupti placeat veniam voluptatem facilis corporis ea perferendis mollitia fugit reiciendis ratione quas.
    Itaque esse nulla, beatae ab magni delectus eligendi deserunt. Rerum facere est obcaecati, totam dolore sapiente culpa, unde expedita commodi reprehenderit consequatur earum repudiandae, eum sequi fuga quis saepe praesentium.
    Officia sapiente fugiat blanditiis numquam distinctio. Eaque quasi doloremque natus repellendus neque laborum, officiis rem nulla exercitationem, quam commodi cumque aspernatur. Minus aut officia ullam dolorem accusantium debitis inventore quam!
    Excepturi animi soluta nostrum alias exercitationem omnis beatae modi architecto blanditiis aperiam dicta ullam maiores perspiciatis quas impedit, hic placeat rerum, quis optio quidem atque. Delectus, facere. Culpa, voluptatum. Sed!
    Cupiditate maiores asperiores magnam ipsum odit error veniam dolorem, unde voluptatem architecto dolorum assumenda, corrupti tempore esse eaque vitae nihil animi explicabo doloribus rerum. Animi placeat ut aliquid vero corporis!
    Deserunt qui harum architecto? A deserunt hic neque iusto vitae aspernatur eos incidunt, officia earum animi inventore, quos laudantium sapiente repellendus. Ipsam tempore nam nobis voluptas ipsum asperiores quasi libero.
    Incidunt quia itaque veniam, ipsa tenetur consequuntur iste, at quos enim delectus dolore natus ipsam numquam alias! Tempore quisquam ea, aperiam, placeat voluptatum quidem, sint magnam reiciendis facilis quas ipsa.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde pariatur cupiditate impedit ab dolore laborum odio esse animi, numquam quam quo velit natus consectetur, facere accusamus molestias dolorem soluta.
        Magnam fugit amet cum debitis ex praesentium minus, laboriosam optio porro alias! Corrupti voluptate exercitationem commodi facere iure maxime corporis. Corporis molestias voluptatibus cumque repudiandae recusandae nulla ad non fugit.
        Explicabo fugit suscipit id voluptatibus hic. Doloremque, tempore. Ad, magni! Eaque rerum explicabo placeat ut, iusto, similique repudiandae qui nemo distinctio dolorum eveniet illo voluptas cum, aspernatur ex. Aperiam, tempora!
        Labore asperiores repellat reprehenderit sequi voluptatibus doloribus ipsa culpa, exercitationem neque, consequuntur alias vitae debitis atque! Quia natus optio vitae laborum, assumenda iure dignissimos sint illo iste! Nemo, ipsum nihil.
        Ullam necessitatibus officia, dolorum voluptatibus vitae inventore, quaerat, cumque dignissimos dolor quos mollitia odit. Impedit, possimus porro eos quam, omnis dignissimos sint eum nemo debitis esse sed cum quibusdam incidunt!
        Sint perspiciatis magni eum culpa distinctio ut aperiam ipsum esse earum, enim, quo facilis eius nisi sunt provident. Magni quas quaerat ut alias at quidem mollitia praesentium sit non tempore.
        Voluptatum, inventore placeat rerum architecto minus laboriosam dignissimos recusandae animi esse, maiores quia sed quaerat saepe dolorum doloribus expedita consectetur eos accusamus, perspiciatis dolore. Commodi aperiam voluptate fugit quae excepturi.
        Repudiandae molestiae ex rem repellendus alias impedit veritatis commodi quia. Natus repellendus officiis corporis doloremque nulla dolor facilis, tempore obcaecati architecto, dolore eligendi! Repudiandae, cumque! Doloremque veritatis non magni! Harum.
        Eveniet quia eum ratione nihil alias tempora eligendi velit laboriosam nesciunt impedit, aspernatur at mollitia animi sit accusantium asperiores, obcaecati molestias aliquid esse, perferendis recusandae placeat. Quos corrupti autem cupiditate.
        Distinctio cum assumenda esse deserunt qui nobis repudiandae odio officia natus expedita, enim ad fugit, incidunt quisquam illum iure doloribus quod officiis! Dolores veniam molestiae ea esse rerum? Laboriosam, impedit!</p>
    </div>
</div>
</body>
</html>