{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>universal_selector</title> 
    <link rel="stylesheet" href="{% static 'css/c20.css' %}">
 </head>
    
<body>
    <h1>
        <marquee behavior="" direction="left">WE LOVE PYTHON</marquee>
    </h1>
    <h1>
        <marquee behavior="" direction="right">WE LOVE PYTHON</marquee>
    </h1>
    <h1>
<marquee behavior="" direction="left">WE LOVE PYTHON</marquee>
    </h1>
    <h1>
        <marquee behavior="" direction="right">WE LOVE PYTHON</marquee>
    </h1>
</body>
</html>